<%- include('header',{title: 'Contact Us' ,styles:'about' }) %>


  <div class="about-section">
    <h1>About Us</h1>
    <p>We are providing Excellent Car Renting Service.</p>
    <p></p>
  </div>
  <%- messages() %>
    <div class="row">
      <div class="column" data-aos="zoom-in" data-aos-duration="1000">
        <div class="card">
          <img src="images/1.jpg" alt="Jane">
          <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">CEO & Founder</p>
            <p>As Drive Smart's Chief Executive Officer, Mike manages Drive Smart's core team of hundreds of team
              members
              distributed throughout the world,
              with a focus on innovation. Since Drive Smart was founded in 2010, Mike has led it to become the largest
              high-skilled, on-demand talent
              network in the world. Taso serves on the board of multiple organizations, advising on talent strategy and
              innovation for Fortune
              100s and nonprofits. Taso has guest lectured at Harvard Business School, Wharton, and Oxford on talent
              management and
              entrepreneurship..</p>
            <p>mike@drivesmart.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column" data-aos="zoom-in" data-aos-duration="1000">
        <div class="card">
          <img src="images/2.jpg" alt="Mike">
          <div class="container">
            <h2>Jane Roberts</h2>
            <p class="title">Director</p>
            <p>As Drive Smart's Director, Jane is responsible for defining and growing the Drive smarts brand, as well
              as
              helping to
              accelerate growth through performance marketing and acquisition. Prior to joining Drive smart, Jane held
              multiple senior marketing and
              operational leadership positions at Gartner, Rackspace, and AMD. She has a Bachelor of Science in
              Industrial
              Engineering from Texas
              A&M University and an MBA from Harvard Business School.</p>
            <p>jane@drivesmart.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column" data-aos="zoom-in" data-aos-duration="1000">
        <div class="card">
          <img src="images/3.jpg" alt="John">
          <div class="container">
            <h2>Emilia Anderson</h2>
            <p class="title">General Manager</p>
            <p>As Drive smart's General Manager, Emilia is accountable for our People and Recruiting teams, creating and
              maintaining a
              world-class experience for all Drive smart team members through hiring, developing, and retaining our top
              talent. Previously, she
              served as Chief People Officer at ICR. Her 20+ year career has included senior Talent leadership roles
              across both the startup and
              agency world, spanning multiple industries. Michelle has a Bachelor’s in Political Science from the
              University of Arizona</p>
            <p>emilia@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
      crossorigin="anonymous"></script>

    <script>
      AOS.init();
    </script>
    <%- include('footer') %>
      </body>

      </html>