<%- include('header',{title: 'Contact Us' ,styles:'contact' }) %>

  <div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>

    </div>
    <div class="row">
      <div class="column">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2879.8671428548!2d-79.23664813158433!3d43.79636979301339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d0e78095975d%3A0xfe2305d953a9913d!2s40%20Verne%20Cres%2C%20Scarborough%2C%20ON%20M1B%202X1!5e0!3m2!1sen!2sca!4v1627796433949!5m2!1sen!2sca"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>

            <br>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: 600px;
              }
            </style><a href="https://www.embedgooglemap.net">map embed iframe</a>
            <style>
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 600px;
              }
            </style>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="row terms">
          <span class="term">Fill up this form. We will get back to you. </span>

        </div>
        <form action="/contactus/add" method="POST">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="Firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="Lastname" placeholder="Your last name..">
          <label for="email">Email</label>
          <input type="text" id="email" name="Email" placeholder="Your email..">
          <label for="lname">Last Name</label>
          <input type="text" id="phone" name="Phone_number" placeholder="Your phone number..">

          <label for="subject">Subject</label>
          <textarea id="subject" name="Subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <%- include('footer') %>
    </body>

    </html>