<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>


    <% if(styles=='vehicle' ) { %>
        <link rel="stylesheet" href="css/styleVehicle.css">
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <% } else if(styles=='signin' ) { %>
            <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
                id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
                integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
                crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="css/Signin.css">
            <% } else if(styles=='index' ) { %>
                <link rel="stylesheet" type="text/css" href="css/jquery-gallery.css">
                <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
                <link rel="stylesheet" type="text/css"
                    href="https://www.jqueryscript.net/demo/Resonsive-Customizable-Testimonials/responsive-testimonals/css/responsive-testimonals.css">
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
                    crossorigin="anonymous"></script>
                <script type="text/javascript"
                    src="https://www.jqueryscript.net/demo/Resonsive-Customizable-Testimonials/responsive-testimonals/js/responsive-testimonals.js"></script>
                <link rel="stylesheet" href="css/home.css">
                <% } else if(styles=='profile' ) { %>
                    <script src="https://code.jquery.com/jquery-3.6.0.js"
                        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                        crossorigin="anonymous"></script>
                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
                        id="bootstrap-css">
                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
                    <link rel="stylesheet"
                        href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
                    <link rel="stylesheet" href="css/profile.css">
                    <% } else if(styles=='contact' ) { %>
                        <link rel="stylesheet" href="css/contact.css">
                        <% } else if(styles=='about' ) { %>
                            <link rel="stylesheet" type="text/css" href="css/aboutus.css">
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                            <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
                            <% } else if(styles=='booking' ) { %>
                                <link rel="stylesheet" type="text/css" href="css/jquery-gallery.css">
                                <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet"
                                    type="text/css">
                                <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">
                                <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
                                <link type="text/css" rel="stylesheet" href="css/style.css" />
                                <% } else if(styles=='viewbooking' ) { %>

                                    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet"
                                        type="text/css">
                                    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">
                                    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
                                    <link type="text/css" rel="stylesheet" href="css/style.css" />
                                    <% } %>

                                        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"
                                            type="text/css">
                                        <link rel="stylesheet"
                                            href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
                                        <link rel="stylesheet" type="text/css" href="css/styles.css">
                                        <link rel="stylesheet" href="css/footer.css">
                                        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">



</head>
<% if( typeof bodyClass!='undefined' ){ %>

    <body class="<%= bodyClass %>">
        <% } else { %>

            <body>
                <% } %>

                    <nav>
                        <div class="logo">
                            <a class="navbar-brand mr-4 nav-item nav-link" href="/index">
                                <img src="images/logo1.jpg" alt="DriveSmart" width="120" height="90">
                            </a>
                            <!-- <img src="images/Drive Smart Logo.png"> -->
                        </div>
                        <div class="right">

                            <h4 class="welcome" id="welcome_msg">Welcome <% if(user) { %> <span>
                                        <%= user.Firstname %>
                                    </span>
                                    <% } else { %> Guest <% } %>
                            </h4>
                            <br>
                            <ul style="z-index: 1000;">
                                <li>
                                    <a href="/car">Book a Vehicle</a>
                                    <ul>
                                        <li><a class="nav-link" href="/car">Car</a></li>

                                        <li><a class="nav-link" href="/suv">SUV</a></li>
                                        <li><a class="nav-link" href="/van">Van</a></li>

                                    </ul>

                                </li>
                                <li style="display: none;" id="li_managebooking">
                                    <a href="/bookingform">Manage Booking</a>

                                </li>
                                <li><a href="/aboutus">About Us</a></li>
                                <li><a href="/contactus">Contact Us</a></li>
                                <li style="display: none;" id="li_myprofile">
                                    <a href="/myprofile">My Profile</a>
                                </li>
                                <li><a href="/signin">SIGN IN / JOIN</a></li>
                            </ul>
                        </div>
                    </nav>