<%- include('header',{title: 'Login' ,styles:'signin', bodyClass:'signin' }) %>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <span class="text-red" id="login_error_msg"></span>
                    <form action="/login" method="POST">
                        <% if( typeof ErrorMessage!='undefined' ){ %>
                            <span style="color:red;">
                                <%= ErrorMessage %>
                            </span>
                            <% } %>
                                <div class="form-group">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="Email" name="Email" class="form-control"
                                            placeholder="email" autofocus>
                                    </div>
                                    <span class="text-red" id="email_msg"></span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" id="Password" name="Password" class="form-control"
                                            placeholder="password">
                                    </div>
                                    <span class="text-red" id="password_msg"></span>
                                </div>
                                <!--                     
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div> -->
                                <div class="form-group">
                                    <input type="submit" id="login_btn" value="Login" class="btn float-right login_btn">
                                </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="/signup">Sign Up</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        var login_data = [{ firstname: "Jane", lastname: "Headen", email: "jane@mail.com", password: "Jane123" },
        { firstname: "Mary", lastname: "Smith", email: "mary@mail.com", password: "Mary123" },
        { firstname: "Adam", lastname: "Johnson", email: "adam@mail.com", password: "Adam123" },
        { firstname: "Tom", lastname: "Edison", email: "tom@mail.com", password: "Tom123" },
        { firstname: "Susan", lastname: "Potter", email: "susan@mail.com", password: "Susan123" },
        { firstname: "Lily", lastname: "Patt", email: "lily@mail.com", password: "Lily123" },
        ];

        if (sessionStorage.getItem('login_data') == null || sessionStorage.getItem('login_data') == undefined) {
            sessionStorage.setItem('login_data', JSON.stringify(login_data))
        }

        $("#login_btn").on("click", function () {
            $("#Email").css('border-color', 'black');
            $("#Password").css('border-color', 'black');
            $("#email_msg").html('');
            $("#password_msg").html('');
            $('#login_error_msg').html('');

            var emailPattern = /\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}\b/;

            email = $("#Email").val();
            password = $("#Password").val();
            var isValid = true

            if (email == "" || email == undefined) {
                $("#Email").css('border-color', 'red');
                $("#email_msg").html('Please enter email!!');
                isValid = false
            }
            else if (!emailPattern.test(email)) {
                $("#Email").css('border-color', 'red');
                $("#email_msg").html('Must be a valid email address!!');
                isValid = false;
            }

            if (password == "" || password == undefined) {
                $("#Password").css('border-color', 'red');
                $("#password_msg").html('Please enter password!!');
                isValid = false
            }

            if (isValid) {
                return true;

            }
            return false;

        });

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    </body>

    </html>