<div class="modal" id="modal">
    <div class="modal-header">
        <div class="title">Terms and Conditions</div>
        <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
        <lu>
            <li>A valid driver's license is required at the time of booking.</li>
            <li>We only accept major credit card for online payment.</li>
            <li>Rate excludes Taxes and surcharges.</li>
            <li>Rate does not include: Fuel, GPS, and carseat</li>
            <li>Travel is limited within Canada only.</li>
            <li>A new booking is required if you have to extend your rental.</li>
            <li>A valid driver's license is required at the time of booking.</li>
            <li>We only accept major credit card for online payment.</li>
            <li>Rate includes government taxes.</li>
            <li>Rate does not include: Fuel, GPS, and carseat</li>
            <li>Travel is limited within Canada only.</li>
            <li>A new booking is required if you have to extend your rental.</li>
        </lu>
        <br>
        <p>CAR RENTAL AGREEMENT <br>
            This agreement is hereby made between {Renter Name} (hereafter referred to as "the Renter") and {Owner
            Name} (hereafter referred to as "the Owner").

            The Owner hereby agrees to rent the following vehicle to the Renter:

            {Car Make, Model, Year, Color, License Plate #, VIN #}

            The Renter will rent the car from {date} to {date}.

            The Renter agrees to pay a fee of and other surcharges and fees.

            The Renter agrees to return the vehicle in its current condition (minus normal road wear-and-tear) to
            the Owner on the return date and hour, with {fuel expectation}. The Renter is also free to turn the
            vehicle in at {other locations}.

            The Renter understands that the vehicle is for use only in Canada and cannot be taken {other locations}.

            The Renter swears and attests that {he/she} has a legal, valid license to drive this type of vehicle in
            this {state/country}, and that there are no outstanding warrants against said license. The Renter's
            driver's license is: {driver's license number}. The Renter further swears and attests that {he/she} has
            insurance that will cover the operation of this vehicle.

            The Renter agrees not to allow any other person to drive the vehicle, except for authorized drivers
            listed and approved here. {Other Driver's Name}: {other driver's license number}.

            The Renter agrees to use the vehicle only for routine, legal purposes (personal or business). The Renter
            further agrees to follow all city, state, county, and government rules and restrictions regarding use
            and operation of the vehicle.

            The Renter agrees to hold harmless, indemnify, and release the Owner for any damages, injuries, property
            loss, or death caused while the Renter operates this vehicle. The Renter will be held accountable for
            any damages or cleaning fees incurred while renting the vehicle. The Renter has had the opportunity to
            inspect the vehicle before the renting term begins and confirms that it is in good operable condition.

            The Owner swears and attests that the vehicle is in good working order and has no liens or encumbrances.
        </p>
        </lu>
    </div>
</div>